@import url(../node_modules/semantic-ui-css/semantic.min.css);
.main-page {
  margin-top: 20px;
  margin-left: 250px;
  width: 700px; }

li .delete-btn {
  display: none !important; }

li:hover .delete-btn {
  display: inline-block !important; }

li label.first-three {
  color: #32CD32 !important;
  font-weight: bold; }

li label.complate-status {
  text-decoration: line-through;
  font-style: italic;
  font-weight: 400;
  color: #666666 !important; }

.ui.inverted.menu {
  background: cornflowerblue; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
