@import url(../node_modules/semantic-ui-css/semantic.min.css);
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  text-align: center;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.main-page {
  margin: 0 auto;
  width: 800px; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

li .delete-btn {
  display: none !important; }

li:hover .delete-btn {
  display: inline-block !important; }

li label.first-three {
  color: #32CD32 !important;
  font-weight: bold; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
