@import '../node_modules/semantic-ui-css/semantic.min.css';

$olive: #32CD32;

.App {
  height: 100%;
  position: relative;
}

#root {
  height: 100%;
}

.main-page {
  padding-top: 20px;
  position: absolute!important;
  right: 43%;
  left: 250px;
  .scroll-list {
    height: 100%;
  }
}

li{
  position: relative;
  .delete-btn {
    display: none!important;
  }

  &:hover {
    .delete-btn {
      display: inline-block!important;
    }
  }
  label {
    &.first-three {
      color: $olive!important;
      font-weight: bold;
    }
    &.complate-status {
      text-decoration: line-through;
      font-style: italic;
      font-weight: 400;
      color: #666666!important;
    }
    .highlight-tag {
      color: cornflowerblue;
    }
  }
  .datetime {
    color: #fd5d5f;
    font-size: 12px;
    margin-left: 10px;
    position: absolute;
    right: 20px;
    bottom: 0;
    top: 0;
  }
}

.right-part {
  width: 43%;
  background: #fafafa;
  border-left: 1px solid #ededed;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
}

.ui.inverted.menu {
  background: cornflowerblue;
}


/****** 重置 rc-calendar 组件样式 *****/
.rc-calendar {
  width: 180px;
  box-shadow: none;
  border: none;
  border-radius: 0px;
  background: cornflowerblue;
}
.rc-calendar-date {
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.rc-calendar-input,
.rc-calendar-year-panel,
.rc-calendar-month-panel,
.rc-calendar-decade-panel {
  background: cornflowerblue;
}
.rc-calendar-date {
  &:hover {
    background: none;
  }
}
.rc-calendar-today .rc-calendar-date {
  border: none;
  color: rgb(226,183,59);
  font-weight: bold;
}

.rc-calendar-column-header {
  color: #666666;
}

.rc-calendar-footer-btn {
  margin-top: 2px;
  position: absolute;
  top: -228px;
  right: 2px;
}

.rc-calendar-header,
.rc-calendar-month-panel-header,
.rc-calendar-year-panel-header,
.rc-calendar-decade-panel-header,
.rc-calendar-footer {
  border: none;
}

.rc-calendar-year-select,
.rc-calendar-month-select,
.rc-calendar-prev-month-btn,
.rc-calendar-next-month-btn,
.rc-calendar-prev-year-btn,
.rc-calendar-next-year-btn,
.rc-calendar-column-header,
.rc-calendar-date,
.rc-calendar-year-panel-year,
.rc-calendar-year-panel-month,
.rc-calendar-month-panel-header > a,
.rc-calendar-month-panel-cell .rc-calendar-month-panel-month,
.rc-calendar-year-panel-decade-select,
.rc-calendar-decade-panel-decade,
.rc-calendar-year-panel-next-decade-btn,
.rc-calendar-year-panel-prev-decade-btn,
.rc-calendar-decade-panel-next-century-btn,
.rc-calendar-decade-panel-prev-century-btn {
  color: rgba(255, 255, 255, .6);
}
.rc-calendar-prev-month-btn:hover,
.rc-calendar-next-month-btn:hover,
.rc-calendar-prev-year-btn:hover,
.rc-calendar-next-year-btn:hover,
.rc-calendar-year-select:hover,
.rc-calendar-month-select:hover,
.rc-calendar-day-select:hover {
  color: #999999;
}
.rc-calendar-last-month-cell .rc-calendar-date,
.rc-calendar-next-month-btn-day .rc-calendar-date,
.rc-calendar-year-panel-last-decade-cell .rc-calendar-year-panel-year,
.rc-calendar-decade-panel-last-century-cell .rc-calendar-decade-panel-decade,
.rc-calendar-decade-panel-next-century-cell .rc-calendar-decade-panel-decade,
.rc-calendar-year-panel-next-decade-cell .rc-calendar-year-panel-year {
  color: rgba(255, 255, 255, .3);
}
.rc-calendar-selected-day .rc-calendar-date,
.rc-calendar-month-panel-selected-cell .rc-calendar-month-panel-month,
.rc-calendar-decade-panel-selected-cell .rc-calendar-decade-panel-decade,
.rc-calendar-month-panel-cell .rc-calendar-month-panel-month:hover,
.rc-calendar-year-panel-selected-cell .rc-calendar-year-panel-year:hover,
.rc-calendar-selected-date .rc-calendar-date:hover,
.rc-calendar-decade-panel-selected-cell .rc-calendar-decade-panel-decade:hover,
.rc-calendar-year-panel-year:hover,
.rc-calendar-decade-panel-decade:hover {
  background: none;
}

.rc-calendar-body {
  padding: 0;
  height: 170px;
}

.rc-calendar-header,
.rc-calendar-decade-panel-body {
  padding: 0;
}
.rc-calendar-footer {
  padding: 5px 0;
}

.rc-calendar-today-btn {
  padding-left: 0;
}
.rc-calendar-selected-date .rc-calendar-date,
.rc-calendar-selected-day .rc-calendar-date,
.rc-calendar-month-panel-selected-cell .rc-calendar-month-panel-month,
.rc-calendar-year-panel-selected-cell .rc-calendar-year-panel-year,
.rc-calendar-year-panel-cell .rc-calendar-year-panel-selected-cell,
.rc-calendar-today-btn,
.rc-calendar-today-btn:hover,
.rc-calendar-decade-panel-selected-cell .rc-calendar-decade-panel-decade,
.rc-calendar-decade-panel-selected-cell .rc-calendar-decade-panel-decade:hover,
.rc-calendar-month-panel-header > a:hover,
.rc-calendar-year-panel-header > a:hover {
  background: cornflowerblue;
  color: rgb(226,183,59);
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

